@import url('https://fonts.googleapis.com/css2?family=Lato&family=Teko:wght@500&display=swap');

:root{
    --font-size: 16px;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6, button{
    font-family: "Teko", sans-serif;
}

/* IMPORTS */
@import url("./pages/home.css");
@import url("./pages/temas.css");
@import url("./pages/projeto.css");
@import url("./pages/dev.css");