<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Desenvolvedores - Ctrl+Tech Expo</title>
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💫</text></svg>"
		/>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/pages/dev.css" />
		<script src="../js/main.js" defer></script>
	</head>
	<body class="dev">
		<header>
			<h1>Desenvolvedores</h1>
			<nav>
				<ul>
					<a href="#" id="home-link"><li>Home</li></a>
					<a href="./pages/robotica.html"><li>Robótica</li></a>
					<a href="./pages/games.html"><li>Games</li></a>
					<a href="./pages/young.html"><li>Young</li></a>
					<a href="./pages/dev.html"><li>Desenvolvedores</li></a>
					<div class="socials">
						<a href="https://www.facebook.com/escolactrlplayjundiai">
							<img src="./assets/icons/facebook-btn.svg" alt="Facebook" />
						</a>
						<a href="https://www.instagram.com/ctrlplayjundiai/">
							<img src="./assets/icons/instagram-btn.svg" alt="Instagram" />
						</a>
						<a href="https://api.whatsapp.com/send?phone=5511973154646">
							<img src="./assets/icons/whatsapp.svg" alt="Whatsapp" />
						</a>
					</div>
				</ul>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 448 512"
					id="menu-btn"
				>
					<path
						d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
					/>
				</svg>
			</nav>
			<img
				src="../assets/images/Galaxy.svg"
				alt="Galaxy Background"
				class="background"
			/>
		</header>

		<main>
			<section class="intro">
				<h2>Conheça os desenvolvedores deste site!</h2>
				<p>
					Este site foi desenvolvido com a equipe de mentoria do professor
					Daniel. Nós nos formamos no módulo <strong>Ctrl+Young 3</strong> no
					começo do ano, mas gostamos tanto de estudar aqui que acabamos
					ficando!
				</p>
				<p>
					Estamos aprendendo os conceitos mais complexos da programação,
					aplicando boas práticas de tudo o que vimos durante o curso 🚀✨
				</p>
			</section>

			<section class="team">
				<div class="person">
					<img src="../images/devs/Davi.jpg" alt="Avatar Davi" class="avatar" />
					<div class="info">
						<h3 class="name">Davi A. Anschau</h3>
						<quote
							>&ldquo;Odiador profissional de Mega Man X7&rdquo;<br
						/></quote>
						<cite>&mdash; Aluno Ctrl+Play</cite>
					</div>
				</div>

				<div class="person right">
					<div class="info">
						<h3 class="name">Pedro H. M. Figueiredo</h3>
						<quote
							>&ldquo;Cuidado com os bugs no código acima; Eu só programei, não
							testei&rdquo;<br
						/></quote>
						<cite>&mdash; Aluno Ctrl+Play</cite>
					</div>
					<img
						src="../images/devs/Pedro-Figueiredo.jpg"
						alt="Avatar Pedro Figueiredo"
						class="avatar"
					/>
				</div>

				<div class="person">
					<img
						src="../images/devs/Pedro-Morales.jpg"
						alt="Avatar Pedro Morales"
						class="avatar"
					/>
					<div class="info">
						<h3 class="name">Pedro H. R. Morales</h3>
						<quote
							>&ldquo;Fazer esse site foi mais difícil que platinar
							Cuphead&rdquo;<br
						/></quote>
						<cite>&mdash; Aluno Ctrl+Play</cite>
					</div>
				</div>

				<div class="person right">
					<div class="info">
						<h3 class="name">Daniel V. Antunes</h3>
						<quote
							>&ldquo;Existem 10 tipos de pessoas, os que entendem números
							binários e os que não conhecem&rdquo;<br
						/></quote>
						<cite>&mdash; Professor Ctrl+Play</cite>
					</div>
					<img
						src="../images/devs/Daniel.jpg"
						alt="Daniel Antunes"
						class="avatar"
					/>
				</div>
			</section>
		</main>

		<footer>
			<span>Site desenvolvido pela turma de Mentoria - Prof Daniel</span>
			<span class="sm"
				>Davi A. Anschau, Pedro H. M. Figueiredo & Pedro H. R. Morales</span
			>
		</footer>
	</body>
</html>
