<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Robótica</title>
		<link
			rel="icon"
			href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>💫</text></svg>"
		/>
		<link rel="stylesheet" href="../css/main.css" />
		<link rel="stylesheet" href="../css/pages/temas.css" />
		<script src="../js/main.js" defer></script>
	</head>
	<body>
		<header class="green">
			<h1>Games</h1>
			<nav>
				<ul>
					<a href="../index.html"><li>Home</li></a>
					<a href="./robotica.html"><li>Robótica</li></a>
					<a href="./games.html"><li>Games</li></a>
					<a href="./young.html"><li>Young</li></a>
					<a href="./dev.html"><li>Desenvolvedores</li></a>
				</ul>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					viewBox="0 0 448 512"
					id="menu-btn"
				>
					<path
						d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"
					/>
				</svg>
			</nav>
			<img
				src="../assets/images/Galaxy.svg"
				alt="Galaxy Background"
				class="background"
			/>
		</header>

		<main>
			<section id="text">
				<h2 class="titulo">De onde surgiram os games?</h2>
				<p class="texto">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
					libero rerum, neque voluptatibus accusamus, iste molestiae voluptatem
					mollitia autem similique quisquam sit laudantium velit unde facere
					pariatur! Magni, natus rem.
				</p>
			</section>

			<section class="cards">
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
				<a href="" class="card">
					<img
						src="https://cdn.awsli.com.br/600x450/969/969921/produto/58351345/39c80d5207.jpg"
					/>
					<h2 class="green">Arduino</h2>
				</a>
			</section>
		</main>
		<footer>
			<span>Site desenvolvido pela turma de Mentoria - Prof Daniel</span>
			<span class="sm"
				>Davi A. Anschau, Pedro H. M. Figueiredo & Pedro H. R. Morales</span
			>
		</footer>
	</body>
</html>
