@import url('https://fonts.googleapis.com/css2?family=Lato&family=Teko:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    text-align: center;
}

header.hero{
    position: relative;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;


}
h1{
    text-align: center;
    font-size: 2.5em;
    width: 100vw;
    height: 100%;
    display: flex;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    color:white;
    text-shadow: 2px 2px 2px black;
    position: absolute;
    background-image: linear-gradient(rgba(255, 89, 100,0.7),rgba(255, 89, 100,0.1));

}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.text{
    margin-top: 32px;
    gap: 8px;
    display: grid;
    justify-content: center;
}
h2{
    font-size: 1.75em;
}
.text p{
    max-width: 300px;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    margin-bottom: 8px;
}

.carousel{
    position: relative;
    margin: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carousel img{
    border-radius: 8px;
    max-width: 300px;
    max-height: 300px;
}

.carousel a{
    position: absolute;
    border-radius: 64px;
    border: none;
    background-color: transparent;
    font-size: 20px;
    padding: 8px;
    color: rgba(255, 89, 100,0.5);
    
   
}
.before{
    left: 50px;
}
.after{
    right: 50px;
}

footer{
    
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #0f0f0f;
    color: #f0f0f0
}
footer h4{
    font-size: 14px;
    letter-spacing: 1px;    
}

footer p{
    font-family: "Teko", sans-serif;
    font-size: 12px;
}