.cards {
	width: 100%;
	max-width: 800px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

.cards .card {
	width: 100%;
	aspect-ratio: 1/1;
	position: relative;
	color: white;
	border-radius: 16px;
	display: grid;
	place-items: center;
}

.cards .card img {
	border-radius: 16px;
	object-fit: cover;
}

.cards .card h2 {
	text-shadow: var(--text-shadow);
}
